.benefitsContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8pt;
  max-width: 400pt;
  margin-top: 20pt;
}

.benefitItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.checkCircleIcon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.checkCircleIcon .benefitIcon {
  font-size: 1.3em;
  color: var(--color-white);
  margin-left: 2px;
}

.benefitIcon {
  font-size: 1.2em;
  flex-shrink: 0;
}

.benefitItem:nth-child(odd) {
  background-image: linear-gradient(
    to right,
    var(--color-gradient-benefit-left),
    var(--color-gradient-benefit-right)
  );
}

.benefitItem p {
  margin: 0;
  line-height: 1.4;
  text-align: left;
}

/* Portrait - default small screens (phones) */
@media (orientation: portrait) {
  .benefitsContainer {
    max-width: 100%;
  }
}

/* Portrait - larger phones/tablets */
@media (orientation: portrait) and (min-width: 600px) {
  .benefitsContainer {
    max-width: 100%;
  }
}

/* Landscape - default */
@media (orientation: landscape) {
}

/* Landscape - larger screens (tablets, laptops) */
@media (orientation: landscape) and (min-width: 1024px) {
}
