.footer {
  color: var(--color-light-purple);
  margin: 0 10px;
  font-size: 0.9em;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.footer .footerLink {
  color: var(--color-light-purple);
  text-decoration: underline;
  display: contents;
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.5em;
  }

  .hideOnSmall {
    display: none;
  }
}

.agreementTextWrapper {
  width: 100%;
  text-align: center;
}

.agreementLink {
  display: contents;
}

@media (max-width: 600px) {
  .agreementText {
    font-size: 0.5em;
    gap: 2px;
  }
}
