.footer {
  color: var(--color-light-purple);
  margin: 0 10px;
  font-size: 0.9em;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.footer .footerLink {
  color: var(--color-light-purple);
  text-decoration: underline;
  display: contents;
}

@media (max-width: 600px) {
  .hideOnSmall {
    display: none;
  }
}

.agreementTextWrapper {
  width: 100%;
  text-align: center;
  margin-top: 70pt;
  margin-bottom: 20pt;
}

.agreementLink {
  display: contents;
}
