.subscriptionPlanForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.subscriptionPlans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.planName {
  display: inline-block;
  width: auto;
  align-self: center;
  font-size: 1.6rem;
  background-color: var(--color-purple-darker);
  width: 100%;
  padding-bottom: 10pt;
}

.planPrice {
  display: inline-block;
  width: auto;
  align-self: center;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: var(--color-purple-darkest);
  width: 100%;
  padding-bottom: 10pt;
  padding-top: 10pt;
}

.per {
  font-weight: normal;
}

.planBilled {
  display: inline-block;
  width: auto;
  align-self: center;
  font-size: 1.1rem;
  background-color: var(--color-purple-darkest);
  width: 100%;
  padding-bottom: 10pt;
}

.planTrial {
  display: inline-block;
  width: auto;
  align-self: center;
  color: var(--color-yellow);
  font-weight: bold;
  font-size: 1.1rem;
  background-color: var(--color-purple-most-darkest);
  width: 100%;
  padding-bottom: 10pt;
  padding-top: 10pt;
  border: 0px solid transparent;
}

.cancelAnytime {
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 10pt;
  color: var(--color-light-purple);
}

.planDetails {
  background-color: var(--color-purple-darkest);
}

.trialButton {
  width: 70%;
  align-self: center;
}

.hideOnBig {
  display: none;
}

.errorText {
  color: var(--color-error);
  font-size: 1rem;
}

.planCardContainer {
  position: relative;
}

.saveTag {
  background-color: var(--gradient-color-4);
  color: var(--color-purple-most-darkest);
  padding: 1px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
  position: absolute;
  top: -10pt;
  right: 20pt;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .planName {
    font-size: 1.1rem;
    text-align: left;
  }

  .planPrice {
    font-size: 0.7rem;
  }

  .planBilled {
    font-size: 0.7rem;
  }

  .planTrial {
    font-size: 0.7rem;
  }

  .planDetails {
    background-color: var(--color-purple-darkest);
    width: 60%;
  }

  .hideOnBig {
    margin-top: 0;
    display: block;
    font-size: 0.7rem;
    text-align: left;

    color: var(--gradient-color-4);
  }
  .planHeader {
    align-items: center;
    width: 40%;
    margin-left: 5pt;
  }

  .saveTag {
    font-size: 0.6rem;
    top: -6pt;
  }
}
