.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  justify-content: start;
}

.backButton {
  width: 200px;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "benefitsColumn headingColumn"
    "benefitsColumn formColumn";
  flex-grow: 1;
}

.emailToDisplay {
  font-weight: bold;
  color: var(--color-light-green);
}

.loadingText {
  text-align: center;
  color: var(--color-white);
}

.benefitsBlock {
  grid-area: benefitsColumn;
  box-sizing: border-box;
  align-content: center;
}

.headingBlock {
  grid-area: headingColumn;
  box-sizing: border-box;
}

.formBlock {
  grid-area: formColumn;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    grid-template-areas: unset;
  }

  .headingBlock {
    order: 1;
    margin-top: 40pt;
  }
  .benefitsBlock {
    order: 2;
    margin-top: 50pt;
  }
  .formBlock {
    order: 3;
    margin-top: 150pt;
  }
}
