.container {
  display: flex;
  flex-wrap: wrap;
}

.connectHeading,
.benefitsWrapper,
.emailFormWrapper,
.agreementTextWrapper {
  flex: 1 1 calc(50% - 15px);
  box-sizing: border-box;
  padding: 20px;
  align-content: end;
}

.benefitsWrapper {
  order: 1;
  align-content: end;
  & div {
    & p {
      margin: 0.3em;
    }
  }
}
.connectHeading {
  order: 2;
  align-content: flex-start;
}
.agreementTextWrapper {
  order: 3;
  align-content: end;
}
.emailFormWrapper {
  order: 4;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .connectHeading {
    order: 1;
  }
  .benefitsWrapper {
    order: 2;
  }
  .emailFormWrapper {
    order: 3;
  }
  .agreementTextWrapper {
    order: 4;
  }
}
