.container {
  display: flex;
  flex-direction: column;
}

.resendSection {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .errorText {
    order: 1;
  }

  .verifyButton {
    order: 2;
  }

  .resendSection {
    order: 3;
  }
}

@media (min-width: 768px) {
  .errorText {
    order: unset;
  }

  .resendSection {
    order: unset;
  }

  .verifyButton {
    order: unset;
  }
}
